body {
    background-color: #F9F7F3;
    /* font-family: Verdana, Geneva, sans-serif; */
    font-family: Poppins,Poppins, sans-serif;
    margin:0;
    /* padding:0; */
    text-align: center;
}

h1 {

  font-family: Poppins, sans-serif;
    /* font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; */
  font-size: 10vh;
  /* margin-left: 20vw; */
  margin-top: 1vw;
  margin-bottom: 1vw;
  /* color: #f00; */
}

h2 {
  font-size: 2.5vh;
  /* margin-left: 20vw; */
  margin-top: 2vw;
  margin-bottom: 2vw;
}

h3 {

  font-family: Verdana Light Italic, Geneva, sans-serif;
  /* font-family: Poppins Light Italic,Poppins, sans-serif; */
  font-size: 2vh;
  /* margin-left: 20vw; */
}

p {
  font-family: Verdana Light Italic, Geneva, sans-serif;
  font-size: 2vh;
  /* text-align: right; */
  margin-right: 2vw;
  margin-left: 2vw;
  /* text-decoration: none; */
}
a {
  color:black;
}



/* Dropdown Button */
.dropbtn {
  background-color: #76ace2;
  color: white;
  padding: 2vh;
  font-size: 2vh;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  width: 8vw;
  font-family: Poppins,Poppins, sans-serif;

  /* margin-bottom: 100px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #ddd;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #a5c4e2;}

#title_strip{
  /* text-align: justify; text-align-last: right; */


  height: 24vh;
  width: 100%;
  /* background-color: powderblue; */
  /* margin:0; */
}

#separator{

  margin-left: 47vw;
  height: 1vh;
  width: 6vw;

  background-color: #76ace2;
}

line.axis{

  /* stroke-width: 1; */
  stroke: #000;
}

.block_correct{
  /* fill:#ffffff; */
}

.block_wrong{
  fill:#B15E6C;
}

text.axis_label{
  /* font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; */
  text-anchor: start;
  fill: #777;
  font-size: 2vh;

}
text.axis_label_left{
  text-anchor: end;
}

text.detail_card{

  /* font-family: Helvetica, Geneva, sans-serif; */
  fill: #ffffff;
  font-weight: lighter;

}
text.detail_card_date{
  fill: #bbb;
  font-style: italic;
  font-size: 1vw;
}

#blurbspace{
  width:20%;
  height: 10px;
  float:left;
  display: inline-block;
}
#blurb{
  width:60%;
  text-overflow: clip;
  float:left;
  display: inline-block;
}

.footer {
  width:100%;
}

#footer_l {

  width:33%;
  height: auto;
  margin:0;
  text-align: left;
  display: inline-block;
  float: left;

}
#footer_l a {
  text-decoration: none;
}
